/* event */
.event {
  position: relative;
  max-width: 1160px;
  width: 100%;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 40px;
}

.swiperContainer,
.location {
  width: 100%;
}

.swiperContainer {
  margin-bottom: 50px;
}

.dcSlide {
  background-color: #efefef;
  padding-bottom: 40px;
  margin-bottom: 40px;
}

/* dcSlide */
.innerRenew {
  position: relative;
  margin: 0 auto;
}

.dcSlide h3 {
  text-align: center;
  font-size: 22px;
  position: relative;
  color: #000;
  padding-top: 40px;
  margin-bottom: 20px;
}

.dcSlide h3 span {
  position: relative;
  z-index: 2;
}

.dcSlide h3::before {
  content: "";
  display: block;
  width: 58px;
  height: 58px;
  background: url(//cdn.mrpizza.co.kr/2014_resources/images/main/bg_main_tit.png)
    0 0 no-repeat;
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
}

/* notice */

.noticeGroup {
  position: relative;
  padding: 0 40px 0 40px;
}

.news {
  width: 50%;
  margin-right: 1%;
  border: 1px solid efefef;
}

.news h3 {
  display: flex;
  justify-content: space-between;
  padding: 29px 0 20px 0;
  position: relative;
  font-size: 18px;
}

.news h3 span {
  position: relative;
  z-index: 1;
}

.news h3 button {
  font-size: 0.8rem;
  background: none;
  margin-right: 20px;
  border: 1px solid darkgray;
  border-radius: 3px;
}

.news h3::before {
  content: "";
  display: block;
  width: 58px;
  height: 58px;
  background: url(//cdn.mrpizza.co.kr/2014_resources/images/main/bg_main_tit.png)
    0 0 no-repeat;
  position: absolute;
  top: 7px;
  left: 0;
}

.newsSlide {
  border: 1px solid #efefef;
  width: 281.5px;
  height: 200px;
}

.newsSlide a {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 20px 0;
  position: relative;
}

.newsSlide a strong {
  color: #000;
  font-size: 0.78rem;
  height: 60px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.newsSlide a span {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  color: #8c8c8c;
}

.newsSlide a span i {
  background: #ffda30
    url(//cdn.mrpizza.co.kr/2014_resources/images/main/ico_notice.png) 0 0
    no-repeat;
  display: block;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: none;
}

.founded {
  width: 50%;
  height: 100px;
}

.founded h3 {
  padding-top: 29px;
  position: relative;
  font-size: 18px;
  color: #000;
  padding-bottom: 20px;
}

.founded h3 span {
  position: relative;
  z-index: 1;
}

.founded h3::before {
  content: "";
  display: block;
  width: 58px;
  height: 58px;
  background: url(//cdn.mrpizza.co.kr/2014_resources/images/main/bg_main_tit.png)
    0 0 no-repeat;
  position: absolute;
  top: 7px;
  left: 0;
}

.news {
  width: 100%;
}

.newsWrapper {
  display: flex;
  width: 100%;
}

.newsSlide {
  height: 7rem;
}

.newsSlide:first-child {
  width: 50%;
  border-radius: 17px 0 0 17px;
}

.newsSlide:nth-child(2) {
  width: 50%;
  border-radius: 0 17px 17px 0;
}

.founded {
  width: 100%;
  height: 7rem;
}

.recruitment {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
  background: url(//cdn.mrpizza.co.kr/2014_resources/images/main/bg_franchise.png)
    0 0 no-repeat;
  text-align: center;
  border-radius: 17px;
}

.recruitment p {
  font-size: 1.1rem;
  margin-bottom: 5px;
  color: #fff;
}

.recruitment strong {
  font-size: 2.8rem;
  color: #ffda30;
}

/* tablet */
@media all and (min-width: 768px) and (max-width: 1023px) {
  .swiperContainer {
    margin-bottom: 50px;
  }

  .dcSlide h3 {
    margin-bottom: 40px;
  }

  .founded {
    width: 564px;
  }

  .recruitment {
  }
}

/* desktop */
@media all and (min-width: 1024px) {
  .event {
    display: flex;
    margin-bottom: 40px;
  }

  .swiperContainer {
    width: 50%;
    margin-right: 1%;
  }

  .location {
    width: 50%;
  }

  .dcSlide {
    background-color: #efefef;
    padding-bottom: 40px;
    margin-bottom: 40px;
  }

  .innerRenew {
    position: relative;
    width: 1160px;
    margin: 0 auto;
  }

  .dcSlide h3 {
    text-align: center;
    font-size: 22px;
    position: relative;
    color: #000;
    margin-bottom: 30px;
  }

  /* notice */
  .notice {
    display: block;
  }

  .noticeGroup {
    display: flex;
    position: relative;
    width: 1160px;
    margin: 0 auto;
    padding: 0 60px 0 60px;
  }

  .news {
    width: 50%;
  }

  .news h3 {
    display: flex;
    justify-content: space-between;
  }

  .news h3 button {
    background-color: none;
  }

  .newsSlide {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
    padding: 20px 20px 112px;
    position: relative;
  }

  .newsSlide a strong {
    font-size: 1rem;
    height: 90px;
  }

  .newsSlide a span i {
    background: #ffda30
      url(//cdn.mrpizza.co.kr/2014_resources/images/main/ico_notice.png) 0 0
      no-repeat;
    display: block;
    width: 44px;
    height: 44px;
    border-radius: 50%;
  }

  .founded {
    width: 50%;
  }
}
